*{
    font-family: Arial, Helvetica, sans-serif;
}

/* page principale */
header{
    display : flex;
    align-items: center;
    flex-direction: column;
}

header > div , #titre{
    color: white;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #08558d; 
    display: flex;
    justify-content: center; 
}

nav li {
    margin: 0 10px; 
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #08679f; 
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

button > a {
    text-decoration : none;
    color: #fff;
}


header > img:hover {
    transform: scale(1.1); 
    box-shadow: 0 2px 4px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li{
    padding: 3px;
}

/* class commun a tous les pages */
.flex-container {
    display: flex;
  flex-wrap: wrap;
  flex-direction : column;
}

.flex-container > div , .telechargement-buttons-container {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

.buttons{
    padding : 5px;
}

.buttons > button:hover{
    background-color: #1d91c0;
}

.flex-container > div > h3,p {
    margin:10px;
}

.flex-container > div > #btnEclipse {
    margin:10px;
    border: none;
    background-color : #2C0B6E;
}


footer{
    display:flex;
    height: 80px;
    justify-content: center;
  align-items: center;
  font: 15px ;
}



/* id et class des footer , header , bouton et autres element */

#eclipseFooter,#eclipseHeader{
    background-color : #2C0B6E;
    color : white;
}

#imgComparaison > img{
    width:900px;
    height:500px;
}

#imgComparaison{
    display:flex;
    flex-direction: column;
}

#titre ,#indexFooter{
    background-color: #1b90bb; 
    color : white;
}

#indexdesc-container {
    display: flex;
    flex-direction : column;
}

#vsHeader,#vsFooter,#btnVS{
    background-color: #8853bd; 
    color : white;
}

#btnVS,#btnvsc,#btnIntellij{
    margin:10px;
}


#intellijHeader,#intellijFooter{
    background: linear-gradient(45deg, #ea4a60, #3179e0, #9059a8);
    color:white;

}

.imgIntellij{
    height: 50%;
    width: 50%;
    border-radius: 2%;
}

#vscHeader,#vscFooter,#btnvsc{
    background-color: #087dce; 
    color : white;
}




